---
import ChurchWrap from "../components/ChurchWrap";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Church Wrap 2025</title>
  </head>
  <body>
    <ChurchWrap client:load />
    <!-- <WorldMapDemo client:only /> -->
  </body>
</html>
