---
import { Analytics } from "@vercel/analytics/react";
import ChurchWrap from "../../components/ChurchWrap";
import "../../styles/global.css";

const locale = Astro.currentLocale ?? "cn";
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="/fonts/Chinese/RuiZiGongFangGuangHuiDaHeiJian1.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://mqyxc4xvodvuodmx.public.blob.vercel-storage.com/running-compressed.mp4"
      as="video"
      type="video/mp4"
      crossorigin
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>未来 2026</title>
    <meta property="og:title" content="未来 2026" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image-cn.webp" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/og-image-cn.webp" />
  </head>
  <body>
    <ChurchWrap client:only="react" locale={locale} />
    <Analytics client:only="react" />
  </body>
</html>
